body {
    background-color: #DDCAB5;
}

.nav-menu {
    margin-left: 3%;
    margin-right: 1%;
    width: fit-content;
    font-size: large;
}

a:link, a:visited {
    color: white;
}

.nav-menu ul li {
    margin-bottom: 15px;
}

.main-section {
    position: relative;
    display: inline;
    /* border: red; */
    width: 80%;
    height: 100%;
    left: 20%;
}

.content {
    position: relative;
    vertical-align: middle;
    display: flex;
}


.content-pic {
    position: relative;
    height: 500px;
    width: 500px;
    object-fit: cover; object-position: 100% 0;
    box-shadow: -20px 20px #E7E1D7;
}

.content-text {
    position: relative;
    display: block;
    height: 500px;
    width: auto;
    padding-left: 40px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.name {
    display: block;
    position: fixed;
    margin-left: 1%;
}

.center-text {
    vertical-align: middle;   
    margin: 0;
    position: absolute;
    top: 50%;
    width: max-content;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
